.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

body {
    margin: auto;
    background-color: rgba(6, 0, 12, .70);
}

.toolbar {
    margin: auto;
    width: 400px;
    
}

header {
    margin: 16px auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'DIN Condensed', 'Impact', 'Arial';
    background-color: black;
    font-size: 64px;
    margin: 16px;
    padding: 4px;
    border-radius: 8px;
}

.canvas {
    border-style: solid;
    border-color: black;
    margin: auto;
    padding: auto;
    display: grid;
}

.gridSquare {
    float: left;
    margin: 0;
    padding: 0;
    background-color: white;
}



.selected {
    border-bottom: 4px solid white;
}

button {
    background-color: black;
    color: white;
    height: 32px;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background-color: darkgray;
}

.hovering {
    border-style: solid;
    border-color: red;
}

#colorInput {
    position: relative;
    top: 4px;
}
