.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

body {
    margin: auto;
    background-color: rgb(33, 34, 54);
}

.toolbar {
    margin: auto;
    width: 400px;
}

header {
    margin: 16px auto; 
    text-align: center;
}

h1 {
    color:rgb(233, 203, 126);
    font-family:'Courier New', Courier, monospace;
    text-shadow: goldenrod 1px 0 10px;
}

.canvas {
    border-style: solid;
    border-color: rgb(14, 16, 39);
    margin: auto;
    padding: auto;
    display: grid;
    /* grid-template-columns: repeat(1, 16px);
    grid-template-rows: repeat(1, 16px); */
}

.gridSquare {
    float: left;
    margin: 0;
    padding: 0;
    background-color: white;
}

.gridSquare:hover {
    background-color: black;
}

#currentColor {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    float: right;
    background-color: black;
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.selected {
    background-color:rgb(44, 66, 100);
}

button {
    background-color:rgb(14, 16, 39);
    color: rgb(233, 203, 126);
    height: 32px;
    font-weight: bold;
    border-color: rgb(14, 16, 39);
}

