body {
    min-width: 160px;
    min-height: 160px;
    margin: auto;
}

.canvas {
    display: grid;
    /* grid-template-columns: repeat(1, 16px);
    grid-template-rows: repeat(1, 16px); */
}

.gridSquare {

    float: left;
    margin: 0;
    padding: 0;
    background-color: red;
}